In [ ]:
# 1. Print all elements of a list using for loop.
number = [1,2,3,4,5,6,7,8,9]
for i in number:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# Using range(1,101), make two list, one containing all even numbers and other containing all odd numbers.
odd_numbers = []

even_numbers = []

for i in range(1, 101):

  if i%2 == 0:

     even_numbers.append(i)

  else:

     odd_numbers.append(i)

print("even numbers: ", even_numbers)

print("odd numbers: ", odd_numbers)

even numbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
# 2. A company decided to give bonus of 5% to employee if his/her year of service is more than 5
# years. Ask user for their salary and year of service and print the net bonus amount
salary = int(input("Enter your Salary: "))
years_of_service = int(input("Enter your years of service: "))

if years_of_service > 5:
    bonus = salary * 0.05
    print("Net Salary: ", bonus + salary)
else:
  print("Net Salary: ", salary)

Enter your Salary: 3215
Enter your years of service: 9
Net Salary:  3375.75

In [ ]:
# 3. Take input of age of 3 people by user and determine oldest and youngest among them.
age1 = int(input("Enter age Person 1: "))
age2 = int(input("Enter age Person 2: "))
age3 = int(input("Enter age Person 3: "))
print()
if (age1 > age2) & (age1 > age3):
    print('Person 1 is the oldest')
    if age2 < age3:
        print('Person 2 is the youngest')
    else:
        print('Person 3 is the youngest')
elif (age2 > age1) & (age2 > age3):
    print('Person 2 is the oldest')
    if age1 < age3:
        print('Person 1 is the youngest')
    else:
        print('Person 3 is the youngest')
else:
     print('Person 3 is the oldest')
     if age1 < age2:
         print('Person 1 is the youngest')
     else:
         print('Person 2 is the youngest')

In [ ]:
# 4. A school has following rules for grading system:
#a. Below 25 - F
#b. 25 to 45 - E
#c. 45 to 50 - D
#d. 50 to 60 - C
#e. 60 to 80 - B
#f. Above 80 - A
marks = int(input("Enter your marks: "))
if marks < 25:
  print("F")
elif 25 >= marks <= 45:
  print("E")
elif 45 > marks <= 50:
  print("D")
elif 50 > marks <= 60:
  print("C")
elif 60 > marks <= 80:
  print("B")
else:
  print("A")

In [ ]:
# 6.  Write a Python script to merge two Python dictionaries
mydict1={"Nigera":"Abuja","Ghana":"Accra","Rwanda":"Kigali","Kenya":"Nairobi"}
print(mydict1)
mydict2={"Mali":"Bamako"}
print(mydict2)
mydict = mydict1.copy()
mydict.update(mydict2)
print(mydict)

{'Nigera': 'Abuja', 'Ghana': 'Accra', 'Rwanda': 'Kigali', 'Kenya': 'Nairobi'}
{'Mali': 'Bamako'}
{'Nigera': 'Abuja', 'Ghana': 'Accra', 'Rwanda': 'Kigali', 'Kenya': 'Nairobi', 'Mali': 'Bamako'}

In [ ]:
# 7.  Write a Python program to remove a key from a dictionary
mydict={"Nigera":120,"Ghana":30,"Rwanda":15,"Kenya":50}
print(mydict)
if 'Kenya' in mydict:
  del mydict['Kenya']
print(mydict)

{'Nigera': 120, 'Ghana': 30, 'Rwanda': 15, 'Kenya': 50}
{'Nigera': 120, 'Ghana': 30, 'Rwanda': 15}

In [ ]:
# 8.  Write a Python program to get the largest number from a list
list1 = [12,34,56,78,90,34,56,5,67,54,89,21,1,79]
print("The largest number from the list: ", max(list1))

The largest number from the list:  90